<img src="img/image_picture.png" class="take-picture-dialog-picture"/>
<button class="button button-full button-balanced" ng-click="dialogButtonsClick('takePhoto')">
    <img src="img/icons/icon_camera.png" class="icon-in-red-button"/>
    <label class="text-in-red-button" translate>TAKE_PHOTO</label>
</button>
<button class="button button-full button-balanced" ng-click="dialogButtonsClick('fromAlbum')">
    <img src="img/icons/icon_from_album.png" class="icon-in-red-button"/>
    <label class="text-in-red-button" translate>FROM_ALBUM</label>
</button>
<button class="button button-full button-balanced" ng-click="dialogButtonsClick('cancel')" translate>
    CANCEL
</button>

