<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title></title>

<style>
body {
	color: #96070a;
}
.first-header{
	text-align: center;
}
.yellow-backgruound{
	background: transparent;
}
</style>

</head>
<body>
	<p class="first-header">TERMS OF USE</p>

	<p>USE OF THIS CHURCH’S CHICKEN MOBILE APPLICATION (THE “APP”)
		CONSTITUTES ACCEPTANCE OF THESE TERMS OF USE (“TERMS”), AS SUCH TERMS
		MAY BE REVISED BY CAJUN OPERATING COMPANY D/B/A CHURCH’S CHICKEN
		(“CHURCH’S”) FROM TIME TO TIME, AND IS A BINDING AGREEMENT BETWEEN THE
		USER (“USER”) AND CHURCH’S GOVERNING THE USE OF THE APP. BY
		DOWNDLOADING OR INSTALLING THIS APP, USER ACKNOWELDGES AND AGREES TO
		BE BOUND BY THESE TERMS. IF USER DOES NOT AGREE TO THESE TERMS, USER
		SHOULD UNINSTALL THIS APP IMMEDIATELY.</p>

	<p>ELIGIBILITY</p>

	<p>The App may only be used by individuals thirteen (13) years of
		age or older. If User is thirteen (13) or older but under the age of
		eighteen (18), User should review these Terms with User’s parent or
		guardian to make sure the User and User’s parent or guardian
		understands them. User represents and warrants that (a) he/she is not
		located in a country that is subject to a U.S. government embargo, or
		that has been designated by the U.S. government as a “state sponsor of
		terrorism”; and (b) he/she is not listed on an U.S. government list of
		prohibited or restricted parties.</p>

	<p>GOOGLE PLAY AND APP STORE TERMS OF SERVICE; CHURCH’S POLICIES</p>

	<p>These Terms supplement and incorporate (a) Google Inc.’s
		(“Google”) Google Play Terms of Service or Apple Inc.’s (“Apple”) App
		Store Terms of Service, as applicable (collectively, the “Digital
		Distribution Platform Terms”), and (b) other policies of Church’s. If
		any of the provisions of the Digital Distribution Platform Terms or
		any applicable Church’s policies conflict with these Terms, these
		Terms will control, solely to the extent such Terms apply to the App.
	</p>

	<p>USER LICENSE</p>

	<p>Subject to these Terms, Church’s grants User a personal,
		non-exclusive, non-transferable, limited and revocable license to use
		the App for personal use only on an Android or Apple product, as
		applicable (the “Device”) owned or controlled by User as permitted by
		the Usage Rules contained in the Digital Distribution Platform Terms
		and in accordance with these Terms (the “User License”). Any use of
		the App in any other manner, including, without limitation, resale,
		transfer, modification or distribution of the App or text, pictures,
		music, barcodes, video, data, hyperlinks, displays, and other content
		associated with the App (“Content”) is prohibited. These Terms and the
		User License also govern any updates to, or supplements or
		replacements for, this App unless separate terms accompany such
		updates, supplements, or replacements, in which case the separate
		terms will apply.</p>

	<p>USER INFORMATION</p>

	<p>
		Some functionality of the App, including location based services and
		functionality and <span class="yellow-backgruound">access to
			User’s address book</span> may require the transmission of information
		provided by User, including user names and passwords, addresses,
		e-mail addresses, or GPS location (“User Information”). If User uses
		such App functionality, User consents to the transmission of User
		Information to Church’s and/or its agents and authorizes Church’s
		and/or its agents to record, process and store such User Information
		as necessary for the App functionality and for purposes described in
		the Church’s Privacy Policy.
	</p>

	<p>User is solely responsible for maintenance of the
		confidentiality and security of any User Information transmitted from
		or stored on a Device for purposes of the App. Church’s shall not be
		responsible for any losses arising out of the loss or theft of User
		Information transmitted from or stored on a Device.</p>

	<p>E-MAIL COMMUNICATION AND PUSH NOTIFICATIONS</p>

	<p>
		If User signs up for a Church’s account using the App, User is, by
		default, opted in to receive promotional e-mail communications from
		Church’s (“E-mail Communications”). User may, <span
			class="yellow-backgruound">at the time of sign up, opt out of
			receiving E-mail Communications from Church’s. Thereafter, User may
			opt out of receiving E-mail Communications solely by adjusting User’s
			profile settings in User’s Church’s account</span> on the App.
	</p>

	<p>Similarly, upon download of the App, User is provided the option
		to opt into receiving push notifications from Church’s on his/her
		Device and within the App. This may include promotional
		communications, offers and system messages pushed to the Device or
		within the App (“Push Notifications”). User may, at any time following
		download of this App, opt out of receiving Push Notifications by type
		by adjusting the “Church’s Notifications” button within the App
		settings to “off” or within the Device’s settings application under
		“Notifications” to completely opt out of Push Notifications. Opting
		out of Push Notifications will not affect User settings with respect
		to E-mail Communications.</p>

	<p>ACCEPTABLE USE</p>

	<p>User’s use of the App, any Content, and User Information
		transmitted in connection with the App is limited to the contemplated
		functionality of the App. In no event may the App be used in a manner
		that (a) harasses, abuses, stalks, threatens, defames, or otherwise
		infringes or violates the rights of any other party (including without
		limitation rights of publicity or proprietary rights); (b) is
		unlawful, fraudulent or deceptive; (c) uses technology or other means
		to access Church’s or Content that is not authorized by Church’s; (d)
		uses or launches any automated system, including without limitation,
		“bots”, “spiders” or “offline readers,” to access Church’s or Content;
		(e) attempts to introduce viruses or any other computer code, files,
		or programs that interrupt, destroy or limit the functionality of any
		computer software, hardware, or telecommunications equipment; (f)
		attempts to gain unauthorized access to Church’s computer network or
		user accounts; (g) encourages conduct that would constitute a criminal
		offense or that gives rise to civil liability; (h) violates these
		Terms; (i) attempts to damage, disable, overburden, or impair Church’s
		servers or networks; or (j) fails to comply with applicable third
		party terms (collectively, the “Acceptable Use”). Church’s reserves
		the right, in its sole discretion, to terminate any User License,
		remove Content, or assert legal action with respect to Content or use
		of the App that Church’s reasonably believes is or might be in
		violation of these Terms, Digital Distribution Platform Terms, or
		Church’s policies. Church’s failure or delay in taking such actions
		does not constitute a waiver of its rights to enforce these Terms.</p>

	<p>INDEMNIFICATION</p>

	<p>At Church’s request, User agrees to defend, indemnify, and hold
		harmless Church’s, its parent and other affiliated companies, and
		their employees, contractors, officers and directors from any and all
		claims, suits, damages, costs, lawsuits, fines, penalties,
		liabilities, expenses (including attorneys’ fees) that arise from
		User’s use or misuse of the App, violation of these Terms, or
		violation of any rights of a third party. Church’s reserves the right
		to assume the exclusive defense and control of any matter otherwise
		subject to indemnification by User, in which event User will cooperate
		in asserting any available defenses. In the event of any third party
		claim that the App or User’s possession and use of the App infringes
		that third party’s intellectual property rights, Church’s, not Google
		or Apple, as applicable, will be solely responsible for the
		investigation, defense, settlement, and discharge of any such
		intellectual property infringement claim.</p>

	<p>WARRANTIES; DISCLAIMERS</p>

	<p>CHURCH’S IS PROVIDING THE APP TO USER “AS IS” AND USER IS USING
		THE APP AT HIS OR HER OWN RISK. TO THE FULLEST EXTENT ALLOWABLE UNDER
		APPLICABLE LAW, CHURCH’S DISLAIMS ALL WARRANTIES, WHETHER EXPRESS OR
		IMPLIED, INCLUDING ANY WARRANTIES THAT THE APP IS MERCHANTABLE,
		RELIABLE, ACCURATE, FIT FOR A PARTICULAR PURPOSE OR NEED,
		NON-INFRINGING, FREE OF DEFECTS OR ABLE TO OPERATE ON AN UNINTERRUPTED
		BASIS, THAT THE USE OF THE APP BY USER IS IN COMPLIANCE WITH LAWS
		APPLICABLE TO USER, OR THAT USER INFORMATION TRANSMITTED IN CONNECTION
		WITH THE APP WILL BE SUCCESSFULLY, ACCURATELY, OR SECURELY
		TRANSMITTED.</p>

	<p>Google and Apple, as applicable, will have no warranty
		obligation whatsoever with respect to the App. Google and Apple, as
		applicable, have no obligation whatsoever to furnish any maintenance
		and support services with respect to the App. Church’s, not Google or
		Apple, as applicable, is responsible for addressing any claims of User
		or any third party relating to this App.</p>

	<p>NO LIABILITY</p>

	<p>TO THE FULLEST EXTENT ALLOWABLE UNDER APPLICABLE LAW, IN NO
		EVENT SHALL CHURCH’S (A) BE LIABILE TO USER WITH RESPECT TO USE OF THE
		APP; OR (B) BE LIABLE TO USER FOR ANY INDIRECT, SPECIAL, INCIDENTAL,
		CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION
		DAMAGES FOR LOSS OF GOODWILL, LOST PROFITS, LOSS, THEFT OR CORRUPTION
		OF USER INFORMATION, THE INABILITY TO USE THE APP OR DEVICE FAILURE OR
		MALFUNCTION. USER’S SOLE REMEDY IS TO CEASE USE OF THE APP.</p>

	<p>MARKS, APPLICATION AND CONTENT</p>

	<p>CHURCH’S CHICKEN, CHURCH’S, the CHURCH’S CHICKEN SINCE 1952
		logo, and other Church’s trademarks, service marks, graphics, and
		logos used in connection with the App are trademarks or registered
		trademarks of Cajun Funding Corp. under license to Church’s
		(collectively, the “Church’s Marks”). Other trademarks, service marks,
		graphics and logos used in connection with the App are the trademarks
		of their respective owners (collectively, “Third Party Marks”). The
		Church’s Marks and the Third Party Marks may not be copied, imitated,
		or used, in whole or in part, without the prior written permission of
		Church’s or the applicable trademark owner. The App and the Content
		are protected by copyright, trademark, patent, trade secret,
		international treaties, laws and other proprietary rights and also may
		have security components that protect digital information only as
		authorized by Church’s or the owner of the Content.</p>

	<p>EXTERNAL LINKS</p>

	<p>The App may contain downloadable materials as well as links to
		external third party sites. Church’s is not responsible for, and has
		no control over, the content of such downloadable materials or
		external sites. User acknowledges that Church’s cannot and does not
		guarantee or warrant that files or software of any kind, or from any
		source, available for downloading through this Appl, will be free of
		infection or viruses, worms, Trojan Horses or other code or defects
		that manifest contaminating or destructive properties.</p>

	<p>TERMINATION</p>

	<p>Church’s may terminate, at its sole discretion, these Terms at
		any time for any reason without notice to User by decommissioning the
		App. User may terminate these Terms at any time for any reason without
		notice to Church’s by removing the App from the Device.</p>

	<p>GOVERNING LAW AND JURISDICTION</p>

	<p>These Terms are governed by the laws of the state of Georgia,
		United States of America, without regard to conflict of laws rules.
		The User irrevocably consents to the exclusive jurisdiction of the
		federal and state courts of Fulton County, Georgia, United States of
		America, for purposes of any legal action arising out of or related to
		the use of the App or these Terms.</p>

	<p>THIRD PARTY BENEFICIARY</p>

	<p>Google and Apple and their subsidiaries are third party
		beneficiaries of these Terms. Upon User’s acceptance of these Terms,
		Google and Apple will have the right (and will be deemed to have
		accepted the right) to enforce these Terms against User as a third
		party beneficiary thereof.</p>

	<p>CHANGES</p>

	<p>Church’s reserves the right to change or modify these Terms or
		any other Church’s policies related to use of the App at any time and
		at its sole discretion by changing these Terms within the App or by
		posting revisions on the Church’s website. Continued use of the App
		following such changes or modifications to the Terms or other Church’s
		policies will constitute acceptance of such changes or modifications.
	</p>

	<p>CONTACT CHURCH’S</p>


	<p>
		<span class="yellow-backgruound"> Any questions, complaints,
			or claims regarding the App should be directed to: </span>
	</p>

	<p>
		<span class="yellow-backgruound"> Cajun Operating Company
			d/b/a Church’s Chicken </span>
	</p>

	<p>
		<span class="yellow-backgruound"> 980 Hammond Drive NE, Suite
			1100 </span>
	</p>

	<p>
		<span class="yellow-backgruound"> Atlanta, GA 30328 </span>
	</p>

	<p>
		<span class="yellow-backgruound"> Phone: </span>
	</p>


</body>
</html>