<ion-pane class="base-background">
    <div class="bar bar-header churchs-header-bar">
        <div class="buttons">
            <a class="button icon-left ion-chevron-left button-clear button-energized churchs-header-left-button" ng-click="gotoMain()" translate>HOME</a>
        </div>
        <div class="title churchs-header-bar-logo">
            <img src="img/image_navbar_logo.png" alt="app-logo" class="churchs-header-logo"/>
        </div>
        <div class="buttons">
            <button class="button button-clear">
                <img src="img/icons/icon_reload.png" class="header-bar-icon-reload"/>
            </button>
            <button class="button button-clear" ng-click="toggleLocale()" translate>LANGUAGE_LABEL</button>
        </div>
    </div>
    <ion-content class="churchs-content" has-bouncing="false" scroll="false">
        <iframe class="churchs-menus-iframe" src="{{ 'CHURCHS_MUNUS_URL' | translate }}"></iframe>
    </ion-content>

</ion-pane>